header {
    background-color: #1f1f21;
    padding: 24px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1660px;
    margin-top: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
}

.filters {
    margin: 10px;
    &-info {
        margin: 10px 0;
    }

    &-counter {
        color: #878787;
        font-weight: 500;
    }

    &-clear {
        cursor: pointer;
        margin-left: 20px;
    }

    &-names {
        margin-left: 10px;
    }
}

.background {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000, 0.5);
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
}

.show {
    opacity: 1;
}

@media (max-width: 1660px) {
    .cards {
        justify-content: space-around;
    }
    .wrapper {
        max-width: calc(1660px - 48px);
        padding: 0 24px;
    }
}
